<h1>Teams#new</h1>
<p>Find me in app/views/teams/new.html.erb</p>

<%= form_for(@team) do |t| %>
<div class="field">
  <%= t.label :name %>
  <%= t.text_field :name %>
</div>
<div class="actions">
  <%= t.submit %>
</div>
<% end %>
