<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>

<a href="/games/new">新しい試合を追加する</a>

<%# 試合一覧 %>
<table>
<thead>
</thead>

<tbody>
<% @games.each do |game| %>
<tr>
<td><%= game.date %></td>
<td><%= game.start_time %></td>
<td><%= game.stadium %></td>
<td><%= game.memo %></td>
</tr>
<% end %>
</tbody>
